* {
    padding: 0;
    margin:0;
}
#game {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 150px;
}
#options {
    display:flex;
    gap: 10px;
    position:relative;
    top: 25px;
}

.buttons {
    cursor: pointer;
    width: 150px;
    height: 150px;
    font-size: 500%;
    border: none;
    transition: .15s;
}

.buttons:hover {
    filter: brightness(95%);
}

.buttons:active {
    transform: scale(0.95);
}

#status {
    position: relative;
    top: 30px;
}

#message {
    text-align: center;
    position: relative;
    top: 20px;
    font-size: 30px;
    height: 30px;
}
.score {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#points {
    position: relative;
    top: 50px;
}
#user_score {
    color: green;
}

#comp_score {
    color: red;
}

.choice {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#user_choice {
    font-weight: normal;
}

#comp_choice {
    font-weight: normal;
}